src/_03_xml/_02_desciption/cats_schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cats">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cat" type="CsvCat" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CsvCat">
		<xs:sequence>
			<xs:element name="name" type="notEmptyString"/>
			<xs:element name="age" type="xs:positiveInteger"/>
		</xs:sequence>
		<xs:attribute name="number" type="xs:positiveInteger"/>
	</xs:complexType>
  	<xs:simpleType name="notEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
