src/_03_xml/_02_desciption/cats_schema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="cats">
        <xs:sequence>
            <xs:element name="cat" type="CsvCat" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CsvCat">
        <xs:attribute name="number" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="age" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
</xs:schema>